venv
__pycache__

.vscode

*.zip
*.csv
*.xls*
*.part
*.parquet
*.txt
!requirements.txt

*.url
*.pptx
*.pdf

# config.py
x13as/*

output/*

# data/x13/*
*.d10
*.d11
*.d12
*.d13
*.d16
*.err
*.fct
*.out
*.saa
*.txt


!col_order.txt